# Fichiers de documentation perso
ROADMAP.md
structure_v2.json

# Fichiers systèmes ou IDE (bonnes pratiques)
.DS_Store
Thumbs.db
.vscode/
*.zip
*.crx

# Fiches et ressources Chrome Web Store (CWS)
cws/
cws-fiches/

