body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(145deg, #4caf50, #2e7d32);
  margin: 10px;
  width: 350px; /* Adjust width as needed */
}

h1 {
  font-size: 1.5em;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.2em;
  color: #555;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
}

div {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  font-size: 0.9em;
}

strong {
  color: #007BFF; /* A slightly different color for emphasis */
}

ul {
  list-style-type: none;
  padding-left: 15px;
  margin-top: 5px;
}

li {
  font-size: 0.85em;
  margin-bottom: 3px;
}

#cpuInfo, #memoryInfo, #storageInfo {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#storageInfo div {
  margin-bottom: 15px; /* Add more space between storage units */
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}
