/* Définitions de la police Inter locale */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Inter-300.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Inter-400.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Inter-500.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Inter-600.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Inter-700.ttf') format('truetype');
}

/* Styles généraux pour le corps de la page */
body {
    font-family: 'Inter', sans-serif; /* Utilisation de la police Inter */
    margin: 0; /* Supprime la marge par défaut du corps */
    width: 300px; /* Définit la largeur du corps */
    background-color: #3d6060; /* Couleur de fond vert-bleu moyen pour le wrapper */
    display: flex; /* Utilise flexbox pour centrer le contenu */
    justify-content: center; /* Centre horizontalement */
    align-items: stretch; /* Aligne en haut verticalement */
    flex-direction: column; /* Ajout de la direction flexbox */
    min-height: 100vh; /* Hauteur minimale de 100% de la hauteur de la fenêtre */
    padding: 0; /* Supprime le rembourrage du corps */
    box-sizing: border-box; /* Inclut le rembourrage dans la largeur/hauteur */
}

/* Styles pour le conteneur principal du contenu (qui inclut maintenant la barre supérieure) */
.wrapper {
    margin: 60px 10px 10px; /* Marge autour du wrapper */
    color: #e0f2f1; /* Couleur du texte clair */
    display: flex; /* Utilise flexbox pour les sections */
    flex-direction: column; /* Les sections s'empilent verticalement */
    overflow: hidden; /* Cache le contenu qui dépasse les coins arrondis */
}

/* Styles pour la barre supérieure */
.topbar {
    background-color: #2a4a4a; /* Couleur de fond identique au wrapper pour une intégration fluide */
    color: #c8e6c9; /* Texte */
    z-index: 10;
    padding: 15px 25px; /* Rembourrage */
    font-size: 1.3em; /* Taille de la police */
    font-weight: 600; /* Poids de la police */
    text-align: center; /* Centre le texte */
    display: flow;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

/* Ombre sous la topbar si scroll */
.topbar.shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Styles pour chaque section (info, cpu, memory, etc.) */
.section {
    padding: 5px; /* Rembourrage interne, pas de padding top pour le premier élément */
    display: flex; /* Utilise flexbox pour les boîtes à l'intérieur */
    flex-direction: column; /* Les boîtes s'empilent verticalement */
    gap: 10px; /* Espace entre les boîtes */
}

/* Styles pour chaque boîte d'information */
.box {
    /* Dégradé de vert-bleu subtil pour le fond */
    background: linear-gradient(to bottom right, #345c5c, #2a4a4a);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée */
    border-radius: 20px; /* Coins arrondis */
    padding: 15px; /* Rembourrage interne */
    display: flex; /* Utilise flexbox pour les labels et les infos */
    flex-direction: column; /* Les labels et infos s'empilent */
    gap: 8px; /* Espace entre label et info */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre interne légère */
}

/* Styles pour les labels */
label {
    font-weight: 500; /* Poids de la police */
    color: #c8e6c9; /* Couleur du texte du label (légèrement ajustée si nécessaire) */
    font-size: 1.2em; /* Taille de la police */
    line-height: 1em;
}

/* Styles pour les informations affichées */
.info {
    font-size: 1.1em; /* Taille de la police */
    font-weight: 400; /* Poids de la police */
    color: #ffffff; /* Couleur du texte blanc */
    word-break: break-word; /* Permet le retour à la ligne pour les longs textes */
    margin-bottom: 10px;
}

/* Styles pour les informations de petite taille */
.small.info {
    font-size: 0.9em; /* Taille de la police plus petite */
    color: #e8f5e9; /* Couleur du texte légèrement plus claire */
}

/* Styles pour la barre de niveau de batterie */
#battery-level .bar, #memory-usage .bar, #cpu-usage .bar {
    background-color: #1f3636; /* Couleur de fond de la barre */
    border-radius: 5px; /* Coins arrondis */
    height: 10px; /* Hauteur de la barre */
    overflow: hidden; /* Cache le contenu qui dépasse */
    margin-top: 10px;
}

/* Styles pour la section utilisée de la barre de batterie */
#battery-level .bar-section.used, #memory-usage .bar-section.used, #cpu-usage .bar-section.used {
    background: linear-gradient(to left, #47854a, #66bb6a); /* Couleur de la section utilisée */
    height: 100%; /* Hauteur complète de la barre */
    display: block;
    width: 100%; /* Exemple de largeur (sera mis à jour par JS) */
    transition: transform 0.5s ease-in-out;
    border-radius: 5px; /* Coins arrondis */
}

/* */
#cpu-temperatures {
    text-align: right;
    width: fit-content;
    font-family: Google Sans Mono,monospace;
}


/* Styles pour les sections cachées */
.hidden {
    display: none; /* Cache l'élément */
}

/* Ligne de séparation entre les sections */
.section:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); /* Ligne blanche semi-transparente */
    margin-top: 0px; /* Marge au-dessus de la ligne */
}

p {
    margin: 10px 20px;
    font-size: 0.85em;
    color: #619c9c;
}
